<% cache [bookmark, bookmark.tags] do %>
  <tr>
    <td><%= bookmark.title %></td>
    <td><%= bookmark.shortening %></td>
    <td><%= link_to bookmark.url, bookmark.url, target: '_blank' %></td>
    <td>
      <% bookmark.bookmark_tags.each do |bookmark_tag| %>
        <% cache [bookmark_tag, tag] do %>
          <span class='tag'><%= bookmark_tag.tag.title %></span>
        <% end %>
      <% end %>
    </td>
    <td><%= link_to 'Edit', edit_bookmark_path(bookmark) %></td>
    <td><%= link_to 'Delete', bookmark, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
