<%= form_with(model: bookmark, local: true) do |form| %>
  <% if bookmark.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bookmark.errors.count, "error") %> prohibited this bookmark from being saved:</h2>

      <ul>
      <% bookmark.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= label_tag :title  %>
    <%= form.text_field :title, class: 'form-control', placeholder: 'Title' %>
  </div>
  <div class="form-group">
    <%= label_tag :url  %>
    <%= form.text_field :url, class: 'form-control', placeholder: 'URL' %>
  </div>
  <div class="form-group">
    <%= label_tag :shortening  %>
    <%= form.text_field :shortening, class: 'form-control', placeholder: 'Shortening' %>
  </div>
  <div class="form-group">
    <%= label_tag :tags %>
    <%= text_field_tag :tags, params['tags'] || @bookmark.tags.map(&:title).join(','), id: 'tags', class: 'form-control' %>
    <p>* press Enter to add a new tag</p>
  </div>

  <%= form.submit class: 'btn btn-primary' %>
<% end %>
