<%= form_tag(root_path, method: :get, class: "form-inline search-form") do %>
  <div class="form-group">
    <%= text_field_tag 'q[term]', params[:q] ? params[:q][:term] : '', placeholder: "Search bookmarks", class: 'form-control' %>
    <%= submit_tag 'Search', class: 'btn btn-default' %>
  </div>
<% end %>
