<h3><%= link_to 'Bookmarks', root_path %></h3>

<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>

<%= render partial: 'search' %>
<%= render partial: 'tag', collection: @tags, cached: true %>

<table class="table table-striped">
  <thead>
    <tr>
      <th><b>Title</b></th>
      <th><b>Shortening</b></th>
      <th><b>URL</b></th>
      <th colspan='3'><b>Tags</b></th>
    </tr>
  </thead>

  <tbody>
    <%= render partial: 'bookmark', collection: @bookmarks, cached: true %>
  </tbody>
</table>

<div class='nav-button'>
  <%= link_to 'New Bookmark', new_bookmark_path, class: 'btn btn-info' %>
</div>
