<!DOCTYPE html>
<html>
  <head>
    <title>WebBookmarks</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag "https://code.jquery.com/jquery-1.12.4.min.js", integrity: "sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=", crossorigin: "anonymous" %>
    <%= javascript_include_tag 'application' %>
  </head>
  <body>
    <div class='container'>
      <%= yield %>
    </div>
  </body>
</html>
